* {
  background-color: white; }

.card-group {
  padding: 29px;
  margin: 25px; }

.item img {
  position: absolute;
  top: 0;
  left: 0; }

.col {
  padding: 29px;
  margin: 25px; }

.navbar {
  display: flex; }
  .navbar a {
    color: red; }
