* {
    background-color: rgb(255, 255, 255);

}



.card-group {

    padding: 29px;
    margin: 25px;
 
    
    
  
}



.item img {
    position: absolute;
    top: 0;
    left: 0;
    
     
 
    
}
 

.col {

    padding: 29px;
    margin: 25px;
  
}
    
